.container {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    /* background-color: #5bcf7e; */
    background-color: #25afad;
    color: black;
}
